/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.shopeng-item {
    width: 200px;
    height: 300px;
    border: 1px solid #c0c0c0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
